<tr>
  <td class="micropost">
      <%= image_tag(gravatar_url(micropost.user.email, :size => 30))%>
      <%= link_to h(micropost.user.name), micropost.user %>
      <span class="content">
         <%= display wrap micropost.content %>      
      </span>  
      <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
          <%= link_to "delete", micropost, :method => :delete, :confirm => "You sure?" %>
        <% end %>
      </span>
  </td>
</tr>
